@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
#chat-container {
    background-color: #E0E1E7;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#chat-box {
    text-align: center;
}

textarea {
    width: 80%;
    height: 250px;
    padding: 20px;
    margin: 20px;
    background-color: #FAF9FB;
    border-radius: 20px;
    border-color: black;
    border-width: 1.5px;
}

p,
textarea {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #C1B8FF;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 20px;
    padding: 8px 20px;
}

#suggested-plan {
    margin-bottom: 20px;
}

.todo-list {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

.todo-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.todo-item button {
    padding: 5px 10px;
    background-color: #86ba64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-item.checked span {
    text-decoration: line-through;
    color: #999;
}

.timeline-item {
    margin-bottom: 20px;
}

.timestamp {
    font-weight: bold;
}

.message {
    margin-top: 5px;
}

.message-container {
    background-color: #FAF9FB;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50%;
}

.message-date {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-time {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}

.message-text {
    margin-bottom: 10px;
}

.message-rating {
    font-weight: bold;
    color: #007bff;
}

#chat-container {
    max-height: 100%;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* Display messages in reverse order */
    padding: 10px;
    /* box-sizing: border-box; */
}